html {
    background-color: black;
}

header {
    background-color: #212529;
}

.address {
    color: white;
    font-size: 24px;
}

#welcome {
 
    
}

#section2 {
    padding: 50px 50px;
    margin-left: auto;
}