html {
    background-color: black;
}

body {
  background-color: #23272b;
}

/*------/ Back to top button /------*/
.back-to-top {
    position: fixed;
    display: none;
    background: silver;
    color: black;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: black;
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }

header {
    background-color: #212529;
}

.address {
    color: white;
    font-size: 24px;
}

/* Navbar */

.navbar {
  box-shadow: 2px 2px 2px #8d8b8b;
  margin-bottom: auto;
 
}

.navbar-brand {
  display: none;
}

@media screen and (max-width: 762px) {
  .navbar-brand {
        display: inline;

      }
      
  
}

.navbar-nav {
  margin-left: 25%;

}

@media screen and (max-width: 762px) {
  .navbar-nav {
        margin-left: 0%;

      }
      
  
}

  
@media screen and (max-width: 762px) {
    #navlogo {
          display: none;
  
        }
        
    
}

#welcome {

}

@media screen and (max-width: 762px) {
  #welcome {
        padding-top: 0px;

      }
      
  
}


#section2 {
    padding: 50px 50px;
    margin-left: auto;
}

#estimates {
  background-color: #23272b;

  h1 {
    color: white;
  }
  h3 {
    color: white;
  }
  p {
    color: white;
  }
}





