html {
    background-color: black;
}

/*------/ Back to top button /------*/
.back-to-top {
    position: fixed;
    display: none;
    background: silver;
    color: black;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: black;
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }

header {
    background-color: #212529;
}

.address {
    color: white;
    font-size: 24px;
}

/* Navbar */


#section2 {
    padding: 50px 50px;
    margin-left: auto;
}